<!DOCTYPE html>
<html lang="es">
<head>
 <meta charset="utf-8">
 <title>AlbumMaker - Cliente</title>
 <meta name="author" content="Lilian Benavides">
 <meta name="description" content="Proyecto clase node y mongo">
 <meta name="viewport" content="width=device-width">
 </head>
<body>
hola Lilian
</body>
</html>